.fijo {
    background-color: #0056b3;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40vh; 
  margin-left: 50px;
}

.btn {
  width:140%;
  padding: 10px;
  background-color: #001F5A;
  color: #fff;
  margin-top: 12px;
  margin-left: 270%;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 15px;
  border: none;
}

  button:hover {
    background-color: #0056b3;
  }
  
  button:active {
    background-color: #004c99;
  }
  
  .contenido {
    display: flex;
    margin-left: 250px;
    margin-top: 100px;
    margin-right: 10%;
    width: 100%;
   }

/* Estilos para el formulario */
.form-group {
  margin-bottom: 10px;
  font-family: Arial, sans-serif;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #001F5A;
  font-size: 15px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 13px;
  color: #001F5A;
  box-sizing: border-box;
  margin-bottom: 10px;
}

button[type="submit"] {
  background-color: #001F5A;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px;
  font-size: 15px;
  cursor: pointer;
  width: 200px;
}

button:hover {
  background-color: #0056b3;
}

.cancelar_btn {
  background-color: rgb(117, 115, 115);
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px;
  font-size: 15px;
  cursor: pointer;
  margin: 10px;
  width: 200px;
}

.cancelar_btn:hover {
  background-color: rgb(99, 98, 98);
}


/* Centrar el formulario en pantallas grandes */
@media screen and (min-width: 768px) {
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
  }

  form {
    width: 800px;
  }
}

.contenido {
  display: flex;
  margin-left: 250px;
  margin-top: 100px;
  margin-right: 10%;
  width: 100%;
  max-width: 1000px;
  min-width: 600px;
 }


/* ESTILO DE LA TABLA*/

table {
width: 100%;
margin-top: 0 px;
}

th {
padding: 10px;
border: 1px solid #ddd;
text-align: center;
color: #001F5A;
font-size: 16px;
font-weight: 100;
}

th {
background-color: #f4f4f4;
}
